{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            {% trans %}Symfony is great{% endtrans %}
            {% trans %}Hello friend{% endtrans %}
            {% trans %}Hello friend1{% endtrans %}
            {% trans %}Hello friend2{% endtrans %}
            {% trans %}Hello friend3{% endtrans %}
            {% trans %}Hello friend4{% endtrans %}
            {% trans %}Hello friend5{% endtrans %}
            {% trans %}Hello friend6{% endtrans %}
            {% trans %}Hello friend7{% endtrans %}
            {% trans %}Hello friend8{% endtrans %}
            {% trans %}Hello friend9{% endtrans %}
            {% trans %}Hello friend10{% endtrans %}
            {% trans %}Hello friend11{% endtrans %}
            {% trans %}Hello friend12{% endtrans %}
            {% trans %}Hello friend13{% endtrans %}
            {% trans %}Hello friend14{% endtrans %}
            {% trans %}Hello friend15{% endtrans %}
            {% trans %}Hello friend16{% endtrans %}
            {% trans %}Hello friend17{% endtrans %}
            {% trans %}Hello friend18{% endtrans %}
            {% trans %}Hello friend19{% endtrans %}
            {% trans %}Hello friend20{% endtrans %}
            {% trans %}Hello friend21{% endtrans %}
            {% trans %}Hello friend22{% endtrans %}
            {% trans %}Hello friend23{% endtrans %}
            {% trans %}Hello friend24{% endtrans %}
            {% trans %}Hello friend25{% endtrans %}
            {% trans %}Hello friend26{% endtrans %}
            {% trans %}Hello friend27{% endtrans %}
            {% trans %}Hello friend28{% endtrans %}
            {% trans %}Hello friend29{% endtrans %}
            {% trans %}Hello friend30{% endtrans %}
        </div>
    </div>
{% endblock %}
